@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/Stylos.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f9f9f9;
            color: #333;
            flex-direction: column;
        }

        .logo {
            width: 200px;
            height: auto;
            margin-bottom: 20px;
        }

        .login-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #4caf50;
        }

        .login-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        .login-container input,
        .login-container select {
            width: 93%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #333;
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <img class="logo" src="~/imagenes/Logo.jpg" alt="Logo del sitio">
    <br>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        @if (TempData["LoginError"] != null)
        {
            <div class="alert alert-danger">
                @TempData["LoginError"]
            </div>
        }
        <form asp-controller="Login" asp-action="Login" method="post">
            <label for="correo">ID de Usuario</label>
            <input type="text" id="correo" name="correo" required 
                   placeholder="Ingrese su ID de usuario">

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" required 
                   placeholder="Ingrese su contraseña">

            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>

</html>